<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <!-- backbone-js cdn -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"
        type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"
        type="text/javascript"></script>
</head>

<body>
<script>
    var firstview=Backbone.View.extend({
        intialize:function(){
          
        },
        render:function(){
            alert("Backbone-Js learning");
        }
    })
    var newview= new firstview();
   newview.render();
</script>
</body>

</html>